<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Maalamall"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        >
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme"
>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.FinalProject"/>
        <activity android:name=".SecondActivity"
            android:theme="@style/Theme.FinalProject"/>
        <activity android:name=".ThirdActivity"
            android:theme="@style/Theme.FinalProject"/>
    </application>
</manifest>